{% extends 'base.html' %}
{% load static %}

{% block tactive %}
active
{% endblock tactive %}
  <!-- team section -->
  {% block content %}
  
  
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class>
          Our <span> Team</span>
        </h2>
      </div>

      <div class="team_container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static '/images/profile.jpg' %}" class="img1" alt>
              </div>
              <div class="detail-box">
                <h5>
                  Sabareesh
                </h5>
                <p>
                  Front-End Developer
                </p>
              </div>
              <div class="social_box">
                <a href="https://github.com/sabareeshxx3">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/sabareesh-k-594735282/">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/sabareeyy?igsh=ODlzcG9pbm4xOGM=">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static '/images/profile.jpg' %}" class="img1" alt>
              </div>
              <div class="detail-box">
                <h5>
                  Sreejith
                </h5>
                <p>
                  Security Researcher


                </p>
              </div>
              <div class="social_box">

                <a href="https://github.com/NerdSreejith">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/thesreejithc/">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/thesreejithc?igsh=eXNqdWoyOXJweWp2">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static '/images/profile.jpg' %}" class="img1" alt>
              </div>
              <div class="detail-box">
                <h5>
                  Midhun
                </h5>
                <p>
                  Designer
                </p>
              </div>
              <div class="social_box">

                <a href="https://github.com/midhunwalker ">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/midhun_walker?igsh=MXBkZXlzMzZqc2R0Yw==">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static '/images/profile.jpg' %}" class="img1" alt>
              </div>
              <div class="detail-box">
                <h5>
                  Midhun Krishna
                </h5>
                <p>
                  Designer
                </p>
              </div>
              <div class="social_box">

                <a href="#">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/blacksoul3124?igsh=MTkwOGpxbHlyMmpwMQ==">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-last">
            <div class="box ">
              <div class="img-box">
                <img src="{% static '/images/profile.jpg' %}" class="img1" alt>
              </div>
              <div class="detail-box">
                <h5>
                  Adhithyan
                </h5>
                <p>
                  Front-End Developer
                </p>
              </div>
              <div class="social_box">

                <a href="#">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/adithian_mr?igsh=MXNqdHk1c2c0MGF5eg==">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>

              </div>
            </div>
          </div>
  </section>
  {% endblock content %}
  <!-- end team section -->

 